.DS_Store
Thumbs.db
__pycache__
env
venv

/docker-compose.yml
/docker-compose.override.yml
/dev.odoo.conf

# ci artifacts
/test_*
/dev_*
/avadev_*
/0dev_*

.env

/*.sql
*.gz
*.zip
*.patch
*.log
*.orig
*.rej
*.bak
*.db
*.swp
*.pyc
.~lock*

.idea
.vscode
*.code-workspace
